.view.tab#view-speakers
  //
     Pages
  .navbar
    .navbar-inner
      .left
        a.link.icon-only.open-panel(href='#')
          i.icon.icon-bars
      .center(data-editable="speakersScreenName") #{__('Speakers')}    
      .right.contact-add-link
 
  .pages.navbar-through
    .page(data-page="speakers")
      // Search bar
      .page-content(style="text-align:center")
        .list-block.media-list.contacts-list.searchbar-found(style='display: block;')
          .list-group
            ul
              li.contact-item(data-id='f12878f5-9b26-4786-9d2f-e3448ec9edac')
                a.item-link(href='contact.html?id=f12878f5-9b26-4786-9d2f-e3448ec9edac')
                  .item-content
                    .item-media
                      i.icon.ion-person
                    | &#x9;&#x9;&#x9;&#x9;&#x9;
                    .item-inner
                      .item-title-row
                        .item-title Alex Proti
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      .item-subtitle Samsung
              li.contact-item(data-id='a88853d0-e755-4ba7-d2b1-1fc1dcfbb572')
                a.item-link(href='contact.html?id=a88853d0-e755-4ba7-d2b1-1fc1dcfbb572')
                  .item-content
                    .item-media
                      i.icon.ion-person
                    | &#x9;&#x9;&#x9;&#x9;&#x9;
                    .item-inner
                      .item-title-row
                        .item-title Andrew Smith
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      .item-subtitle Cycle