config/production.json
config/development.json
# Ignore session files
filestorage/.session/*
!filestorage/.session/.gitkeep
# Ignore temporary files
filestorage/tmp/*
!filestorage/tmp/.gitkeep
# Ignore user db files
filestorage/db/apps.db
filestorage/db/builds.db
filestorage/db/editables.db
filestorage/db/plugins.db
filestorage/db/templates.db

#Ignore non-default templates
templates/*
!templates/admin/
!templates/bootstrap-3-jade/
!templates/jqmobile/

#Ignore non-default plugins
plugins/
!plugins/builderservice/
!plugins/chat/
!plugins/google-map/


.sslcerts

# Logs
logs
*.log

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directory
# Commenting this out is preferred by some people, see
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules

