
# Ignore session files
filestorage/.session/*
!filestorage/.session/.gitkeep
# Ignore temporary files
filestorage/tmp/*
!filestorage/tmp/.gitkeep

.sslcerts

# Logs
logs
*.log

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directory
# Commenting this out is preferred by some people, see
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules

