extends layout

block content
  .container-fluid 
    h3.text-center.page-header Shovel apps CMS
      h4.text-center Open Source Mobile App Maker
    .row
      .col-xs-12
        p.lead.text-center
          img(src="/assets/img/shovelapps-logo.png")
        p.lead.text-center Please 
          a(href="/login") login 
          | to manage this app.