extends layout

block title
  title Shovel apps CMS - #{__('Admin Panel')}

block stylesheets
  style.
    #downloadapkqrcode {
      height:150px;
      width:150px;
    }

block content
  
  .container
    .tab-pane.active#adminhome
      .container-fluid
        h2 #{__('App Admin Panel')}

block scripts
  script(src="/socket.io/socket.io.js")
  script(src="/coreassets/jquery.qrcode/jquery.qrcode.min.js")
  script(src="/shovelapps/shovelapps-cms.js")
  script.
    $(function() {
    });