doctype html
html(lang="en")
head
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  block head
  // Title block
  block title
    title Admin CMS
  // End of Title block
  // Bootstrap CSS 
  link(href="/coreassets/bootstrap/bootstrap.min.css", rel="stylesheet")
  //link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.1/lumen/bootstrap.min.css", rel="stylesheet")

  link(href="/coreassets/bootstrap/jasny-bootstrap.min.css", rel="stylesheet")
  link(href="/coreassets/bootstrap/navmenu.css", rel="stylesheet")
  link(href="/coreassets/ionicons/css/ionicons.min.css", rel="stylesheet")
  link(href="/coreassets/Tokenize-2.2.2/jquery.tokenize.css", rel="stylesheet")

  // Custom stylesheets
  block stylesheets
  style.
    #noty-holder{    
      width: 100%;    
      top: 0;
      font-weight: bold;    
      z-index: 1031; /* Max Z-Index in Fixed Nav Menu is 1030*/
      text-align: center;
      position: fixed;
    }

    .alert{
      margin-bottom: 2px;
      border-radius: 0px;
    }
  // End of custom stylesheets


  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  script(src="/coreassets/html5shiv/html5shiv.js")
  script(src="/coreassets/respond.js/respond.min.js")
  <![endif]-->

body
  #notifications
  include ./sidebar.jade

  // Content block
  block content
  // End of content block

  //FastClick
  script(src="/coreassets/FastClick/fastclick.js")
  //jQuery
  script(src="/coreassets/jquery/jquery.js")
  script(src="/coreassets/Tokenize-2.2.2/jquery.tokenize.js")
  //Bootstrap JavaScript 
  script(src="/coreassets/bootstrap/bootstrap.min.js")
  script(src="/coreassets/bootstrap/jasny-bootstrap.min.js")
  script.
    window.myElementsOptions = {
      socketPath: "/myelements.io"
    }
  script(src="/myelements/myelements.jquery.js")
  script.
    $(function() {

      FastClick.attach(document.body);
      $('[data-toggle="tooltip"]').tooltip();
    
    });

  script.
    var lang = !{JSON.stringify(lang)};
    function __(term) {
      if(!typeof lang['Checking status'] === 'undefined'){
        return lang[term];
      }
      return term;
    }

  script(src="/shovelapps/optimism.js")
  script(src="/shovelapps/shovelapps-cms.js")
  // Custom scripts
  block scripts
  // End of custom Scripts