doctype html
html(lang="en")
head
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  block head
  // Title block
  block title
    title Admin CMS
  // End of Title block
  // Bootstrap CSS 
  link(href="/coreassets/bootstrap/bootstrap.min.css", rel="stylesheet")
  link(href="/coreassets/bootstrap/jasny-bootstrap.min.css", rel="stylesheet")
  link(href="/coreassets/bootstrap/navmenu.css", rel="stylesheet")
  link(href="/coreassets/ionicons/css/ionicons.min.css", rel="stylesheet")

  // Custom stylesheets
  block stylesheets
  // End of custom stylesheets


  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  script(src="/coreassets/html5shiv/html5shiv.js")
  script(src="/coreassets/respond.js/respond.min.js")
  <![endif]-->

body

  include ./sidebar.jade

  // Content block
  block content
  // End of content block

  //FastClick
  script(src="/coreassets/FastClick/fastclick.js")
  //jQuery
  script(src="/coreassets/jquery/jquery.js")
  //Bootstrap JavaScript 
  script(src="/coreassets/bootstrap/bootstrap.min.js")
  script(src="/coreassets/bootstrap/jasny-bootstrap.min.js")
  script(src="/myelements.jquery.js")
  script.
    $(function() {
 
          
      FastClick.attach(document.body);

      $('[data-toggle="tooltip"]').tooltip();

    });
  // Custom scripts
  block scripts
  // End of custom Scripts