doctype html
html.with-statusbar-overlay
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
    title=config.app.appName
    link(rel="stylesheet", href="assets/lib/css/framework7.css")
    link(rel="stylesheet", href="assets/lib/css/ionicons.css")
    link(rel="stylesheet", href="assets/css/app.css")
    link(href="assets/img/favicon/favico.ico", rel="shortcut icon")
    script(src="assets/jquery/jquery.js")             
  body.color-pink.theme-pink
    // Statusbar overlay
    .statusbar-overlay
    // Panels Overlay
    .panel-overlay
    // Left Panel with Reveal effect
    .panel.panel-left.panel-reveal
      .list-block
        ul
          li
            a.close-panel.item-link.tab-link(href='#view-home')
              .item-content
                .item-media
                  i.icon.ion-ios7-paper
                .item-inner
                  .item-title #{__('Home')}
          li 
            a.close-panel.item-link.tab-link(href='#view-map')
              .item-content
                .item-media
                  i.icon.ion-map
                .item-inner
                  .item-title Map
          li 
            a.close-panel.item-link.tab-link(href='#view-chat')
              .item-content
                .item-media
                  i.icon.ion-chatbox
                .item-inner
                  .item-title Chat                    
          li 
            a.close-panel.item-link.tab-link(href='#view-speakers')
              .item-content
                .item-media
                  i.icon.ion-person
                .item-inner
                  .item-title Speakers   
      
            if locals.previewing
              if locals.previewing && locals.session && locals.session.user
                li
                  a.close-panel.item-link(href="#")#editToggle  
                    .item-content                 
                      .item-media
                        i.icon.ion-edit
                      .item-inner
                        .item-title Edit
              li
                a.close-panel.item-link.external(href="/admin")
                  .item-content
                    .item-media
                      i.icon.ion-ios7-gear
                    .item-inner
                      .item-title Admin                                                                      
    // Views
      We need to set "toolbar-through" class on it to keep space for our tab bar
    .views.tabs.toolbar-through
      include view-home

      include view-map

      include view-chat

      include view-speakers

    script(src="assets/lib/framework7.min.js")             
    script(src="assets/app.js") 
    script(src="assets/map-view-fix.js") 
  
  block stylesheets
    if locals.previewing && locals.session && locals.session.user
      link(rel="stylesheet",href="/coreassets/medium-editor/medium-editor.min.css")
      link(rel="stylesheet",href="/coreassets/medium-editor/bootstrap.min.css")
    
  block scripts
    if locals.previewing && locals.session && locals.session.user
      script(src="/coreassets/medium-editor/medium-editor.min.js")
      script(src="/coreassets/medium-editor/MediumButton.min.js")  
      script(src="/shovelapps/shovelapps-cms.js")
      script.
        initEditor();                
