.view.tab#view-map
  //
     Pages
  .navbar
    .navbar-inner
      .left
        a.link.icon-only.open-panel(href='#')
          i.icon.icon-bars
      .center(data-editable="mapScreenName") Map      
 
  .pages.navbar-through
    .page(data-page="map")
      // Search bar
      .page-content(style="text-align:center")
        .content-block
          .content-block-inner.googlemap!=googlemaps.map()