.view.view-main.tab.active#view-home
  //
     Pages
  .navbar
    .navbar-inner
      .left
        a.link.icon-only.open-panel(href='#')
          i.icon.icon-bars
      .center(data-editable="appName") #{__('My first app')}    
      .right.contact-add-link
 
  .pages.navbar-through
    .page(data-page="home")
      // Search bar
      .page-content(style="text-align:center")
        .content-block-title(data-editable="welcomemessage") #{__('Welcome to this event')}
        .content-block
          .content-block-inner(data-editable="homecontent")
            | Welcome to a new edition of this event
            p
              img(src="assets/img/shovelapps-logo.png")