extend ../../templates/admin/layout 

block content
  .container
    h2 App screens
    if !screens.length
      .row
        .col-xs-12
          strong It seems you have not created any screen for this app.
    .row
      .col-sm-12
        a.btn.btn-success(href="/admin/screens/new") Create a screen.
    hr
    if screens.length
      .row
        .col-xs-12
          strong You can change the screens order by drag and drop
    #sortableScreens.row
      each screen in screens
        .col-sm-3(id=screen.id)
          .panel.panel-default
            .panel-body
              .container-fluid
                .row
                  .col-sm-12
                    h4=screen.title
                    br
                    a(href="/admin/screens/#{screen.id}") Edit
                    hr
                    div=screen.text
block stylesheets
  link(rel="stylesheet", href="/coreassets/jquery.ui/jquery-ui.min.css")
  style.
    #sortableScreens{
      margin-right: 0px;
    }
block scripts
  script(src="/coreassets/jquery.ui/jquery-ui.min.js")
  script(src="screens/js/jquery.rest.min.js")
  //- script(src="screens/js/screenposition.js")





