extends prelayout

block content
  .container-fluid.bg-white.login
    .row
      .col-md-1.col-md-offset-2
        a.left-arrow(href='/')
      .col-md-4.col-md-offset-1
        form(method="post",role="form",action="/login")
          input.shovel-control(type='text', name='username', placeholder=__('Username'))
          input.shovel-control(type='password', name='password', placeholder=__('Password'))
          label
            | #{__('Remember me')}
            input(type='checkbox', name='remember')

          .options
            button(type="submit").btn.btn-primary #{__('Log in')}



block scripts
  script.
    $(function() {
      $("[name=username").focus();
    });