extends layout

block title
  title Shovel apps CMS - #{__('Menues Manager')}

block content
  .container-fluid.bg-white.cms.menues-manager(role='main')
    .header.center-block.row.voffset6
      a.back-button.pull-left(href='#')
      .col-md-3.col-sm-4.devices.text-right.hidden-xs
        .os
          a.android.active(href='#')
          .separate
          a.ios(href='#')
      .col-md-6.col-sm-6
        h2 #{__('Menues Manager')}
      .col-md-1
        a.upload-theme.pull-right(href='#')
          img(src='/coreassets/assets/save-icon.svg')
          span #{__('Save changes')}
      .devices.text-center.visible-xs
        .os
          a.android.active(href='#')
          a.ios(href='#')
        a.phone.active(href='#')
        a.tablet(href='#')
    .col-md-8.col-md-offset-2.voffset7.text-left
      h4 Main Menu
      table.table.table-bordered.table-shovel
        thead
          tr
            th #
            th Title
            th Linked to
            th Icon
            th Actions
        tbody
          tr
            td.text-center 1
            td
              input(type='text', value='Home', placeholder='Name your menu')
            td
              select.select2(data-placeholder='Parent')
                option Screen
                option None
                option Home
                option Cars
            td
              select.select2(data-placeholder='Icons')
                option icon-car
                option icon-home
            td.actions
              .move
                a.move-up.hidden(href='#')
                a.move-down(href='#')
              a.delete(href='#')
          tr
            td.text-center 2
            td
              input(type='text', value='Home', placeholder='Name your menu')
            td
              select.select2(data-placeholder='Parent')
                option Screen
                option None
                option Home
                option Cars
            td
              select.select2(data-placeholder='Icons')
                option icon-car
                option icon-home
            td.actions
              .move
                a.move-up(href='#')
                a.move-down(href='#')
              a.delete(href='#')
          tr
            td.text-center 3
            td
              input(type='text', value='Home', placeholder='Name your menu')
            td
              select.select2(data-placeholder='Parent')
                option Screen
                option None
                option Home
                option Cars
            td
              select.select2(data-placeholder='Icons')
                option icon-car
                option icon-home
            td.actions
              .move
                a.move-up(href='#')
                a.move-down.hidden(href='#')
              a.delete(href='#')
          tr.new
            td
            td
              input(type='text', placeholder='Name your menu')
            td
              select.select2(data-placeholder='Parent')
                option
                // Necesario para el placeholder
                option None
                option Home
                option Cars
            td
              select.select2(data-placeholder='Icons')
                option
                option icon-car
                option icon-home
            td.actions
              a.add(href='#')
      h4.voffset7 Side Menu
      table.table.table-bordered.table-shovel
        thead
          tr
            th #
            th Title
            th Linked to
            th Icon
            th Actions
        tbody
          tr
            td.text-center 1
            td
              input(type='text', value='Home', placeholder='Name your menu')
            td
              select.select2(data-placeholder='Parent')
                option Screen
                option None
                option Home
                option Cars
            td
              select.select2(data-placeholder='Icons')
                option icon-car
                option icon-home
            td.actions
              .move
                a.move-up.hidden(href='#')
                a.move-down(href='#')
              a.delete(href='#')
          tr
            td.text-center 2
            td
              input(type='text', value='Home', placeholder='Name your menu')
            td
              select.select2(data-placeholder='Parent')
                option Screen
                option None
                option Home
                option Cars
            td
              select.select2(data-placeholder='Icons')
                option icon-car
                option icon-home
            td.actions
              .move
                a.move-up(href='#')
                a.move-down(href='#')
              a.delete(href='#')
          tr
            td.text-center 3
            td
              input(type='text', value='Home', placeholder='Name your menu')
            td
              select.select2(data-placeholder='Parent')
                option Screen
                option None
                option Home
                option Cars
            td
              select.select2(data-placeholder='Icons')
                option icon-car
                option icon-home
            td.actions
              .move
                a.move-up(href='#')
                a.move-down.hidden(href='#')
              a.delete(href='#')
          tr.new
            td
            td
              input(type='text', placeholder='Name your menu')
            td
              select.select2(data-placeholder='Parent')
                option
                // Necesario para el placeholder
                option None
                option Home
                option Cars
            td
              select.select2(data-placeholder='Icons')
                option
                option icon-car
                option icon-home
            td.actions
              a.add(href='#')
    .voffset5
